apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vhsm-storage-pvc
  namespace: vhsm
  labels:
    app: vhsm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vhsm-certs-pvc
  namespace: vhsm
  labels:
    app: vhsm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
